<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<ul>
<li><a th:href="@{/variables/string/} + 'Hola Rodrigo'">/variables/string/Hola Rodrigo</a></li>
<li><a th:href="@{/variables/string/} + 'Que tal Jhon?'">/variables/string/Que tal Jhon?</a></li>
<li><a th:href="@{/variables/string/} + 'Saludos Rodrigo' + '/' + 4">/variables/string/Saludos Rodrigo/4</a></li>
</ul>
</body>
</html>