<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>Enviar parámetros del Request HTTP GET - URL</title>
</head>
<body>
	<h1>Enviar parámetros del Request HTTP GET - URL</h1>
	<ul>
		<li><a th:href="@{/params/string(texto='Hola Rodrigo')}">/params/string?texto=Hola
				Rodrigo</a></li>
		<li><a th:href="@{/params/string(texto='Que tal Jhon!')}">/params/string?texto=Que
				tal Jhon!</a></li>
		<li><a th:href="@{/params/mix-params(saludo='Como estas Rodrigo?', numero = 7)}">/params/mix-params/saludo?texto=Como estas Rodrigo&numero=7</a></li>
		<li><a th:href="@{/params/mix-params-request(saludo='Como estas Rodrigo?', numero = 7)}">/params/mix-params-request/saludo?texto=Como estas Rodrigo&numero=7</a></li>
	</ul>
</body>
</html>